streamlit==1.40.0
langchain==0.3.14
langchain-community==0.3.14
langchain-core==0.3.28
langchain-text-splitters==0.3.4
faiss-cpu==1.9.0.post1
sentence-transformers==3.3.1
requests==2.32.3
huggingface-hub==0.27.1
numpy==2.2.1
torch==2.5.1
transformers==4.47.1
